.app-sidebar {
  width: 35%;
  height: 100vh; /* Full height of the viewport */
  overflow-y: auto; /* Enables scrolling on the y-axis */
  background-color: #2c3e50;
  color: #fff;
}

.app {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Prevents scrolling on the app level */
}

/* Remaining styles */

.app-sidebar-header {
  padding: 20px;
  background-color: #1a2533;
}

.add-note-btn, .clear-search-btn, .delete-note-btn {
  /* Shared button styles */
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  background-color: #3b4d67;
  color: white;
  border-radius: 4px;
}

.add-note-btn:hover, .clear-search-btn:hover, .delete-note-btn:hover {
  /* Hover state for buttons */
  background-color: #506784;
}

.search-bar input[type="text"] {
  width: calc(100% - 80px);
  padding: 5px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
}

.note-preview {
  padding: 15px;
  border-bottom: 1px solid #3b4d67;
  cursor: pointer;
}

.note-preview:hover {
  background-color: #334457;
}

.note-preview.active {
  background-color: #425a75;
}

.note-display {
  flex-grow: 1;
  background-color: #f4f4f4; /* Lighter background for the selected note */
  padding: 20px;
}

.note-display .no-active-note {
  color: #ccc;
  text-align: center;
  margin-top: 50px;
}

/* If you have additional specific styles for the .note class, add them here */
